body {
    background-color: #34495e; /* Til browsere uden gradient support */
    background-image: linear-gradient(#34495e, #1c2731);
    min-height: 100vh
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.background {
    background-color: #34495e; /* Til browsere uden gradient support */
    background-image: linear-gradient(#34495e, #1c2731);
    min-height: 100vh
}

.sitebg {
    background-color: #ecf0f1;
    border-radius: 5px;

}

.siteheadline {
    margin-top: 10%;
    color: #ecf0f1;
}

.siteheadline2 {

    color: #ecf0f1;
}

.whitetext {
    color: #ecf0f1;
}


.blacktext {
    color: black;
}