@{
    ViewBag.Title = "NoItemsInCart";
}

<img src="https://i.imgur.com/TWSTK8s.png" alt="Product Image" class="headimage">

<h2 class="siteheadline">Du har ingen varer i indkøbskurven. Gå til produkter for at tilføje varer til kurven</h2>