@{
    ViewBag.Title = "CustomerCreated";
}

<img src="https://i.imgur.com/TWSTK8s.png" alt="Product Image" class="headimage">
@if (ViewBag.Message == null) {
    <h2 class="siteheadline">Du er nu oprettet som bruger!</h2>
} else {
    <h2 class="siteheadline">@ViewBag.Message</h2>
}